<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Glance - omer WatchKit App.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>5</integer>
		</dict>
		<key>KosherCocoaKit.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>Notification - omer WatchKit App.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>4</integer>
		</dict>
		<key>Omer app.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>omer WatchKit App.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
		<key>omer extension.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>omer.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>D700DC3B1AE10D8F00763902</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D748B0271AE9270F00DE6E66</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D74BFC491ADDBE8000DF10AF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D79FA93A18F1F41800C4A965</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D79FA95B18F1F41800C4A965</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D7AC2E4E1AE2E81B0042AD77</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D7AC2E581AE2E81B0042AD77</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D7AC2EAC1AE2EC250042AD77</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D7AC2EB61AE2EC250042AD77</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D7AC2ED11AE2ED5A0042AD77</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D7AC2EDB1AE2ED5A0042AD77</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D7B5D0961AE5BBBA00AB810B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
